{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="css/bootstrap-3.1.1.min.css" rel="stylesheet">
	<link href="css/digibutt.css" rel="stylesheet">
	<link href="css/case-study.css" rel="stylesheet">
	<link href="css/overlay.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	<link href="css/custom.css" rel="stylesheet">
	<link href="css/style5.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="js/html5shiv-3.7.0.js"></script>
		<script src="js/respond-1.4.2.js"></script>
	<![endif]-->
</head>

<body>
<div id="fullpage">
	<nav>
		<header id="main-header">
			
 <div id="fullpage">
	<nav>
		<header id="main-header">
			
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navvy">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<div id="logo" class="col-sm-2 navbar-brand">
			<a href="{{ siteUrl }}">
				<img src="img/logo.png" width="90px" height="38px" />
			</a>
		</div>
		</div>

    
    <div class="collapse navbar-collapse navHeaderCollapse" id="navvy">
	<ul class="nav navbar-nav navbar-right navbar-user">
        <li>
        	<a href="#">About</a>
        </li>
        <li id="drop">
            <a href="#" data-toggle="dropdown" role="menu">
            	Our Team
            	<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
            	<li>
            		<a href="#intro">Services</a>
            	</li>
        		<li>
            		<a href="#case-studies">Case Studies</a>
        		</li>
        		<li>
        			<a href="#clients">Clients</a>
        		</li>
        		<li>
        			<a href="#jobs-intro">Join Us</a>
        		</li>
            </ul>
        </li>
        <li>
        	<a href="#blogs">Blog</a>
        </li>
        
        <li>
            <a href="#locations">Contact</a>
        </li>
    </ul>
    </div>

    </div>
	</nav>	
			</div>
		</header>


	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://buildwithcraft.com">Craft</a>
		</footer>
	</div>
</body>
</html>
