<!DOCTYPE html>
<html lang="en">
	<!-- Type "flap" and see what happens!-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if entry.heading is defined %}{{ entry.heading }} - {% endif %}{{ siteName }}</title>
		<link rel="home" href="{{ siteUrl }}" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.png" class="favicon"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href="fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="css/bootstrap-3.1.1.min.css" rel="stylesheet">
		<link href="css/digibutt.css" rel="stylesheet">
		<link href="css/case-study.css" rel="stylesheet"> 
		<link href="plugins/stickyNavbar/font-awesome.min.css" rel="stylesheet">
		<link href="plugins/stickyNavbar/animate.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script> 
		<link href="css/custom.css" rel="stylesheet">
		<!--correct formatting if no js is enabled--> 
		<noscript>
			<link href="css/nojavascript.css" rel="stylesheet">
		</noscript>
		<link href="css/style5.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv-3.7.0.js"></script>
			<script src="js/respond-1.4.2.js"></script>
		<![endif]-->
	</head>
	<!--If no script is shown-->
	<h1 class="block">
	<noscript>We strongly recommend you to use this site through Javascript supported browser</noscript>
	</h1>

	<!-- flappy bird-->
  	<div id="window" class="examplemodal">
  		<iframe src="flappybird/index.html" width="100%" height="500px"></iframe>
  		<a class="x" href="#" style="background-color: #FEBF0E; text-align: center; display: block; font-weight: bold; font-size: 20px; text-transform: uppercase;">Close</a>
  	</div>

	<div id="fullpage" class="maincontent">
	<nav>
		<header id="main-header">
		<body>	
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navvy">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<div id="logo" class="col-sm-2 navbar-brand">
			<a href="{{ siteUrl }}">
				<img src="img/logo.png" width="90" height="38" alt="Digital Butter"/>
			</a>
		</div>
		</div>

		<noscript>
		<a href="{{ siteUrl }}">
			<img src="img/logo.png" width="90" height="38" alt="Digital Butter"/>
		</a>
	<ul class="nav navbar-nav navbar-right navbar-user">
        <li>
        	<a href="#">About</a>
        </li>
        <li>
            <a href="#">Our Team</a>
        </li>
        <hr />
        <li>
        	<a href="#intro">Services</a>
        </li>
        <li>
        	<a href="#case-studies">Case Studies</a>
        </li>
        <li>
        	<a href="#clients">Clients</a>
        </li>
        <li>
        	<a href="#jobs-intro">Join Us</a>
        </li>
        <li>
        	<a href="#blogs">Blog</a>
        </li>
        <hr />
        
        <li>
            <a href="#locations">Contact</a>
        </li>
    </ul>
    </noscript>

    
    <div class="collapse navbar-collapse navHeaderCollapse" id="navvy">
	<ul class="nav navbar-nav navbar-right navbar-user">
        <li>
        	<a href="#">About</a>
        </li>
        <li id="drop">
            <a href="#" data-toggle="dropdown" role="menu">
            	Our Team
            	<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
            	<li>
            		<a href="#intro">Services</a>
            	</li>
        		<li>
            		<a href="#case-studies">Case Studies</a>
        		</li>
        		<li>
        			<a href="#clients">Clients</a>
        		</li>
        		<li>
        			<a href="#jobs-intro">Join Us</a>
        		</li>
            </ul>
        </li>
        <li>
        	<a href="#blogs">Blog</a>
        </li>
        
        <li>
            <a href="#locations">Contact</a>
        </li>
    </ul>
    </div>

    </div>
	</nav>
			</div>
		</header>
		{% for block in entry.longFormContent %}

		    {% switch block.type %}

		        {% case 'singleSlider' %}
		        	{% for image in block.backgroundImage %}
		            <div class="content-block slider-block" data-background-url="{{ image.getUrl() }}" >
		            	<div class="container">
							<div class="center-{{ block.sortOrder}} row">
								<div class="col-sm-8 col-sm-offset-2 content1 text-center">
									<h1>{{ block.slideText }}</h1>
									<p class="cta-btns text-center">
									{{ block.slideButtons }}
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--No JS then do this-->
					<noscript>
					<style type="text/css">
						.content-block {
							background-image: url("{{ image.getUrl() }}");
							background-repeat: no-repeat;
						}
					</style>
					</noscript>
					{% endfor %}
		        {% case 'services-off' %}
		        	
		        	<div class="col-md-3 col-sm-6 service-block-inner" id="service-block-{{ block.sortOrder }}">
						<a href="#">
							<div class="overlay">        
								<h3>{{ block.serviceName }}</h3>
								{{ block.serviceDescription }}
							</div>
						</a>
					</div>
					
				{% case 'contentPanel' %}		

					{% set bg = "" %}
					{% for image in block.contentBackground %}
						{% set bg = image.getUrl() %}
					{% endfor %}
						
					

					{% if block.contentId == 'contact' %}
					<div class="overlay-modal overlay overlay-scale">
						<button type="button" class="overlay-close">Close</button>
						<div class="content-block" id="{{ block.contentId }}">
		        			<div class="container" id="{{ block.contentId }}-container">
								{{ block.contentBody }}
								
								<div class="form col-sm-8 ">

									<form class="form-horizontal">
										<fieldset>

										<!-- Form Name -->
										

										<!-- Text input-->
										<div class="form-group">
										  <label class="control-label col-sm-2 hidephone" for="email">Email *</label>
										  <div class="col-sm-10">
										    <input id="email" name="email" type="text" placeholder="Your email address" class="form-control" required="">
										  </div>
										</div>

										<!-- Text input-->
										<div class="form-group">
										  <label class="control-label col-sm-2 hidephone" for="name">Name</label>
										  <div class="col-sm-10">
										    <input id="name" name="name" type="text" placeholder="Your Name" class="form-control">
										    
										  </div>
										</div>

										<!-- Text input-->
										<div class="form-group">
										  <label class="control-label col-sm-2 hidephone" for="compay">Company</label>
										  <div class="col-sm-10">
										    <input id="compay" name="compay" type="text" placeholder="Where you work" class="form-control">
										    
										  </div>
										</div>

										<!-- Text input-->
										<div class="form-group">
										  <label class="control-label col-sm-2 hidephone" for="phone">Phone</label>
										  <div class="col-sm-10">
										    <input id="phone" name="phone" type="text" placeholder="Your telephone number" class="form-control">
										    
										  </div>
										</div>

										<!-- Text input-->
										<div class="form-group">
										  <label class="control-label col-sm-2 hidephone" for="message">Message</label>
										  <div class="col-sm-10">                     
										    <textarea id="message" class="form-control" rows="3" name="message" placeholder="How can we help?"></textarea>
										  </div>
										</div>

										<div class="form-group">
										  <label class="control-label col-sm-2" for="singlebutton">&nbsp;</label>
										  <div class="col-sm-10">
										    <button id="submitbutton" type="submit" name="submitbutton" class="btn btn-cta">Submit</button>
										  </div>
										</div>

										</fieldset>
									</form>


								</div>

								<div class="col-sm-3 pull-right">
								{% for innerblock in entry.longFormContent %}
									{% switch innerblock.type %}
										{% case 'locations' %}
											{% for image in innerblock.locationImage %}
											<div class="row">
									        	<div class="location-block-inner-contact" id="location-block-{{ innerblock.sortOrder }}-contact">
									        		<img src="{{ image.getUrl() }}" alt="Digital Butter Office: {{ innerblock.locationName }}" />
										        	<h4>{{ innerblock.locationName }}</h4>
										        	<div class="address">
										        	{{ innerblock.locationAddress }}
										        	</div>
												</div>
											</div>
											{% endfor %} 
								    {% endswitch %}   
								{% endfor %} 
								</div>
							</div>
						</div>
					</div>
					{% else %}

					<div class="content-block scrollto" id="{{ block.contentId }}" data-background-url="{{ bg }}">
		        		<div class="container" id="{{ block.contentId }}-container">
							<div class="row">
								<div class="col-xs-12 content2 {{ block.contentClasses }}" >	
									{{ block.contentBody }}
									<div class="afters row">
										
									</div>
								</div>
							</div>
						</div>
		        	</div>

		        	{% endif %}

		        {% case 'clientList' %}

					
		        	<div class="col-sm-3 col-xs-2 client-block-inner scrollto" id="client-block-{{ block.sortOrder }}">
						<div class="client-logo">
							<div class="overlay-client row">        
								{% if block.clientUrl != '' %}
								<div class="col-sm-6 col-xs-12">
									<a href="{{ block.clientUrl }}">
										{% for image in block.clientLogo %}
						    				<img src="{{ image.getUrl() }}" alt="{{ block.clientName }}" class="client-block-{{ block.sortOrder }}"/>
										{% endfor %}
									</a>
								</div>
								{% else %}
									{% for image in block.clientLogo %}
									<div class="col-sm-6 col-xs-12">
					    				<img src="{{ image.getUrl() }}" alt="{{ block.clientName }}" />
					    			</div>
									{% endfor %}
								{% endif %}
								
							</div>
						</div>
					</div>	

		        {% case 'caseStudyLinks' %}
		        	{% for image in block.caseStudyImage %}
		        	<noscript>
					<style type="text/css">
						.content-block {
							background-image: url("{{ image.getUrl() }}");
							background-repeat: no-repeat;
						}
					</style>
					</noscript>
		        	<div class="case-study-block-inner scrollto" id="case-study-block-{{ block.sortOrder }}">
			        	<figure class="effect-ruby">
							<img class="effect-bg-img" src="{{ image.getUrl() }}" alt="{{ block.caseStudyTitle }}" />
							<figcaption>
								{% for caseStudyLogo in block.caseStudyLogo %}
									<h2 class="effect-logo"><img class="img-responsive" src="{{ caseStudyLogo.getUrl() }}" alt="{{ block.caseStudyTitle }}" id="{{ caseStudyLogo }}"/></h2>

								{% endfor %} 
								{{ block.caseStudyIntro }}

								<h2 class="cta-btns text-center">
									<a class="btn-cta" target="_blank" href="{{ block.caseStudyUrl }}">View Case Study</a> 
								</h2>
							</figcaption>			
						</figure>
						
					</div>
					{% endfor %} 
		        	
					
		        	
		        {% case 'jobs' %}
		        
				<div class="col-xs-12 jobs-block-inner scrollto" id="jobs-block-{{ block.sortOrder }}">
					<h3>{{ block.jobTitle }}</h3>
					<h4>Location: {{ block.jobLocations }}</h4>
					{{ block.jobDescription }}
					<div class="btns">
						<a class="btn-cta" href="{{ block.jobApplyUrl }}">{{ block.jobApplyText }}</a>
					</div>
				</div>
					

				{% case 'blogPost' %}
					{% for image in block.postImage %}
					<div class="content-block scrollto" id="blogs" data-background-url="{{ image.getUrl() }}">
				        <div class="container blogs-container" >
				        	<div class="row">
								<div class="col-xs-12 blogs-block-inner" id="blogs-block-{{ block.sortOrder }}">
									<p class="cta-btns text-center">
										<a href="http://www.butter.com.hk/blog/" class="cta-btn-lg" target="_blank">THE LATEST FROM THE CHURN</a>
									</p>
									<h1 class="text-center">{{ block.postTitle }}</h1>
									<div class="cta-btns text-center">
										<a class="btn-cta" href="{{ block.postUrl }}">{{ block.postLinkText }}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				{% case 'locations' %}
					<!--id="location-block-{{ block.sortOrder }}"
					{% for image in block.locationImage %}
		        	<div class="col-sm-6 location-block-inner" > -->
		        		
		        <div claaa="row">
		        <div class="panel panel-default col-sm-6 col-xs-12">
  					<div class="panel-body">
    					<figure id="image-{{block.sortOrder}}">
							<img src="{{ image.getUrl() }}" alt="{{ block.locationName }}" id="
							{% spaceless %}
								{{ block.locationName}}
							{% endspaceless %}
							" />
							
						</figure>
  					</div>
  					<div class="panel-footer">
  						<h4>Digital Butter {{ block.locationName }}</h4>
			        		<div class="address">
			        		{{ block.locationAddress }}
			        		</div></div>
					</div>
					
				</div>

					{% endfor %} 
		    {% endswitch %}    

		{% endfor %}

		
		<div class="copyright-block">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 left">
						&copy; {{ "now"|date("Y") }} Digital Butter
					</div>
					
				</div>
			</div>
		</div>

						
		<!-- SCRIPTS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/flappybird.js"></script>
		<script src="js/bootstrap-3.1.1.min.js"></script>
		<script src="plugins/isMobile/isMobile.min.js"></script>
		 <script src="plugins/backstretch/backstretch-2.0.4.min.js"></script> 
		<script src="plugins/stickyNavbar/jquery.easing.min.js"></script>
		<script src="plugins/stickyNavbar/jquery.stickyNavbar.js"></script>
		<script src="plugins/stickyNavbar/jquery.stickyNavbar.min.js"></script>
		<script src="plugins/match-height/match-height-0.5.1.min.js"></script>
		<script src="plugins/validation/validation-2.2.min.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Mobile plugins-->
		<script src="plugins/isMobile/Gruntfile.js"></script>
		<script src="plugins/isMobile/isMobile.js"></script>

		<script src="js/locationsimage.js"></script>
		<script src="js/custom.js"></script>
		<script>
			if(isMobile.apple.device || isMobile.android.device || isMobile.windows.device){
				$("#window").html('');
				function doOnOrientationChange(){
			    	switch(window.orientation){  
			      		case -90:
			      		case 90:
			      		//landscape
			      		$(".navbar-toggle").css("margin-top","7px");
			      		$(".navbar-header").css("height","37px");
			      		$(".case-study-block-inner figure").css("height","112px");
			        break;
			      	default:
			      		//portrait
			        break; 
			    	}
				}

				  window.addEventListener('orientationchange', doOnOrientationChange);

					  // Initial execution if needed
					  doOnOrientationChange();
			}
			//only do for mobile

		  	


		</script>
	</body>
</html>
					